<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos EPP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Inventario de Productos EPP</h2>
        <a th:href="@{/productoepp/nuevo}" class="btn btn-primary">Registrar Nuevo Producto</a>
    </div>

    <table class="table table-striped table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Proveedor</th>
                <th>Tipo Protección</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${productos}">
                <td th:text="${p.codigoProductoPepp}"></td>
                <td th:text="${p.nombrePepp}"></td>
                <td th:text="${p.marcaPepp}"></td>
                <td th:text="${p.proveedorPepp}"></td>
                <td th:text="${p.tipoProteccion != null ? p.tipoProteccion.descripcionCat : 'Sin asignar'}"></td>
                <td>
				    <a th:href="@{/productoepp/editar/{id}(id=${p.codigoPeep})}" class="btn btn-warning btn-sm">Editar</a>
				    <a th:href="@{/productoepp/eliminar/{id}(id=${p.codigoPeep})}" 
				       class="btn btn-danger btn-sm" 
				       onclick="return confirm('¿Está seguro de eliminar este producto?')">Eliminar</a>
				</td>
                <td>
                    <button class="btn btn-sm btn-info">Detalles</button>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>