<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>Nuevo Producto EPP</title>
</head>

<body>
<div layout:fragment="content">

    <div class="card shadow-sm col-lg-8 mx-auto">
        <div class="card-body">

            <h4 class="mb-4 text-center">
                <i class="fa-solid fa-box"></i> Nuevo Producto EPP
            </h4>

            <form th:action="@{/productoepp/guardar}"
                  th:object="${producto}" method="post">

                <div class="row">

                    <div class="col-md-8 mb-3">
                        <label class="form-label">Nombre *</label>
                        <input type="text" th:field="*{nombrePepp}" class="form-control">
                        <small class="text-danger" th:errors="*{nombrePepp}"></small>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label">Impuesto *</label>
                        <input type="number" th:field="*{impuestoPepp}" class="form-control">
                        <small class="text-danger" th:errors="*{impuestoPepp}"></small>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Tipo</label>
                        <select th:field="*{tipo}" class="form-select">
                            <option value="">-- Seleccione --</option>
                            <option th:each="c : ${catalogos}"
                                    th:value="${c.codigoCat}"
                                    th:text="${c.descripcionCat}">
                            </option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Tipo Protección</label>
                        <select th:field="*{tipoProteccion}" class="form-select">
                            <option value="">-- Seleccione --</option>
                            <option th:each="c : ${catalogos}"
                                    th:value="${c.codigoCat}"
                                    th:text="${c.descripcionCat}">
                            </option>
                        </select>
                    </div>

                    <div class="col-md-12 form-check mt-2">
                        <input type="checkbox" th:field="*{deshabilitarPepp}" class="form-check-input">
                        <label class="form-check-label">Deshabilitado</label>
                    </div>

                </div>

                <div class="mt-4 text-end">
                    <button class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i> Guardar
                    </button>
                    <a th:href="@{/productoepp}" class="btn btn-secondary">Cancelar</a>
                </div>

            </form>
        </div>
    </div>

</div>
</body>
</html>